name: Build and Test

on:
    push:
        branches:
            - main
        paths-ignore:
            - "**/*.md"
    pull_request:
        branches:
            - main
        types:
            - opened
            - reopened
            - synchronize
            - ready_for_review
        paths-ignore:
            - "**/*.md"

env:
    CARGO_TERM_COLOR: always
    SCCACHE_GHA_ENABLED: "false"
    RUSTC_WRAPPER: "sccache"

jobs:
    # TODO: Add a job to run clippy
    lint:
        runs-on: macos-latest
        steps:
            - uses: actions/checkout@v4
            - name: Check formatting
              run: cargo fmt --all -- --check

    gpu-benchmarks:
        runs-on: macos-latest
        steps:
            - uses: actions/checkout@v4
            - name: Install Rust toolchain
              uses: actions-rs/toolchain@v1
              with:
                  toolchain: "1.77"
                  override: true
            - name: Run sccache-cache
              uses: mozilla-actions/sccache-action@v0.0.3
            - name: Run GPU Benchmarks tests
              run: |
                  cd mopro-msm
                  cargo test test_msm_correctness -- --nocapture
